/AddressDTO.java
/AlbaranDTO.java
/AuditedTableDTO.java
/CustomerDTO.java
/EnuFileTypeDTO.java
/EnuInputSourceDTO.java
/EnuRefundRequestType.java
/EnuRefundRequestTypeDTO.java
/EnuTransactionType.java
/EnuTransactionTypeDTO.java
/FileExtraInfoDTO.java
/InputUserDTO.java
/LinkTableDTO.java
/MT.java
/MTTableADDRESS.java
/MTTableALBARAN.java
/MTTableAUDITEDTABLE.java
/MTTableCUSTOMER.java
/MTTableENUFILETYPE.java
/MTTableENUINPUTSOURCE.java
/MTTableENUREFUNDREQUESTTYPE.java
/MTTableENUTRANSACTIONTYPE.java
/MTTableFILEEXTRAINFO.java
/MTTableINPUTUSER.java
/MTTableLINKTABLE.java
/MTTablePURCHASEORDER.java
/MTTableREFUNDREQUEST.java
/MTTableSOURCEFILE.java
/PurchaseOrderDTO.java
/RefundRequestDTO.java
/SourceFileDTO.java
