		.root-div{
			padding:0px;
			background-color:var(--j-window-background);
		}
		
		.mt-sidebar-container{
			max-width:200px;
			height:100%;
			top:0px;
			left:0px;
			position:absolute;
			z-index:1;
		}		
		
		.mt-main-container{
			top:60px;
			left:200px;
			right:0px;
			bottom:0px;
			position:absolute;
			padding:20px;
			background-color:var(--j-window-background);
		}
		
		.mt-main-container-collapsed{
			left:35px;
	
		}

		.mt-app-header{
			top:0;
			right:0;
			height:50px;
			left:200px;
			position:absolute;
			background:white;
			margin-bottom:24px;
			padding:10px;
			-webkit-box-shadow: 0 8px 6px -6px lightgrey;
	   		-moz-box-shadow: 0 8px 6px -6px lightgrey;
	        box-shadow: 0 8px 6px -6px lightgrey;
	        text-align:right;			
		}

		.mt-app-header-collapsed{
			left:33px;
		}
		
		.mt-app-header-element{
			float:right;
		}
		
		.j-well-header{
			color:grey;
			border-bottom:1px solid lightgrey;
			margin-bottom:5px;
		}
		
		.j-well{
			background:white;
			box-shadow:var(--j-box-shadow);
			margin:10px;
			padding:10px;
			min-height: 50px;
		}
		
		.form-control{
			height:30px;
		}
		
		.form-control-height{
			height:28px;
		}
		
		@font-face {
		  font-family: 'Material Icons';
		  font-style: normal;
		  font-weight: 400;
		  src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
		}

		.material-icons {
		  font-family: 'Material Icons';
		  font-weight: normal;
		  font-style: normal;
		  font-size: 24px;
		  line-height: 1;
		  letter-spacing: normal;
		  text-transform: none;
		  display: inline-block;
		  white-space: nowrap;
		  word-wrap: normal;
		  direction: ltr;
		  -webkit-font-feature-settings: 'liga';
		  -webkit-font-smoothing: antialiased;
		}
		
		.my-login-page{
		    margin: 0 auto;
		    width:400px /* value of your choice which suits your alignment */
		}
		
		.login-page {
			  background-color: orange;
			  padding-left: 0;
			  max-width: 360px;
			  margin: 5% auto;
			  overflow-x: hidden; }
			  .login-page .login-box .msg {
			    color: #555;
			    margin-bottom: 30px;
			    text-align: center; }
			  .login-page .login-box a {
			    font-size: 14px;
			    text-decoration: none;
			    color: #00BCD4; }
			  .login-page .login-box .logo {
			    margin-bottom: 20px; }
			    .login-page .login-box .logo a {
			      font-size: 36px;
			      display: block;
			      width: 100%;
			      text-align: center;
			      color: #fff; }
			    .login-page .login-box .logo small {
			      display: block;
			      width: 100%;
			      text-align: center;
			      color: #fff;
			      margin-top: 0px; 
		}
		
	.card .detail-header {
	    color: #555;
	    padding: 10px;
	    position: relative;
	    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
	    height:40px;
	}		
		
	.card .detail-body .z-label{
		font-weight:700;
	}		
	
	.custom-message-dlg{
		background-color:white;
		padding:20px;
		text-align:center;
	}
	
	.custom-messagebox-dlg-body{
		padding:20px;
	}
	
	.custom-messagebox-dlg-title{
		padding-top:20px;
	}
	
	.mt-collapse-button{
		color:#666666;
		font-size:14px;
	}
		
	.mt-collapse-button:hover{
		color:black;
		font-size:18px;
	}
	
	.mt-dropdown-menu{
		font-size:25px;
	}

	.mt-dropdown-menu:hover{
		font-size:32px;
		cursor:pointer;
		border: 1px solid #eeeeee;
	}
	
	.mt-log-out-button{
	}
	
	.mt-log-out-button:hover{
		cursor:pointer;
		font-size:28px;
	}
	
	.mt-grid-button-area{
		float:right;
	}
	
	
