		.my-navbar-header{
			background-image: url("../img/roadrunner.png");
			background-size: 150px 80px;
			background-repeat: no-repeat;
			background-position: center;
			height:100px;
		}

		.my-navbar{
			box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
			position:relative;
    	}
    	
		.my-navbar-background::after{
		  	background: url(../img/sidebar-bg-2.jpg);
		 	content: ' ';
		    display: block;
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    z-index: -1;
		    opacity: 0.08;
		    background-repeat: no-repeat;
		    background-position: 50% 0;
		    -ms-background-size: cover;
		    -o-background-size: cover;
		    -moz-background-size: cover;
		    -webkit-background-size: cover;
		    background-size: cover;		
		}		

    	.z-nav-content, .z-navitem-content{
    		border-right:0px;
    	}

		.z-navbar, .z-navbar>ul .z-nav-content, .z-navbar>ul .z-navitem-content, .z-navbar>ul .z-navseparator{
			background:transparent;
		}
		
		.z-navbar>ul ul .z-nav-content, .z-navbar>ul ul .z-navitem-content, .z-navbar>ul ul .z-navseparator{
			background:transparent;
		}
		
		.z-nav-image, .z-navitem-image, .z-nav i, .z-navitem i {
			font-size:18px
		}
		